body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.slide-image {
    width: 100%;
}

#productListingContainer{
	padding:10px 0;
}

.mainIcon{
	padding-right:20px;
}
.mainIcon img{
	width:130px;
	margin-top:1px;
}


/* main page*/
#main{

}


/* product Page */
.productCaption{
	padding:10px;
}